name: CI

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  test:
    name: "Test with python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.13"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        include:
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"
          - os: ubuntu-latest
            python-version: "3.12"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          python -VV
          python -m site
          python -m pip install -e .[test]
      - name: "Run tests for ${{ matrix.python-version }}"
        run: "coverage run -m pytest tests/"
      - uses: codecov/codecov-action@v5
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v4"
        with:
            python-version: "3.11"
      - name: "Install dependencies"
        run: python -m pip install -e .[test]
      - run: mypy src tests
